<html>
  <body>
    <form method="POST" action="/new">
      <label for="name">Naam:</label>
      <input type="text" id="name" name="name" />
      <label for="text">Text:</label>
      <input type="text" id="text" name="text" />
      <button type="submit">Send</button>
    </form>
  </body>
</html>
